body {
  background-color: white;
  background-image: url("foreign_currency.avif");
  font-family: 'Helvetica Neue';
  color: white;
  text-align: center;
}

.container{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 600px;
  height: 380px;
  margin: 0 auto;
  margin-top: 200px;
}

h1 {
	color: white;
	font-weight: bold;
	font-size: 30px;
}

label {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

input, select {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

vice_versa {
    vertical-align: middle;
}