body {
  background-color: white;
  background-image: url("foreign_currency.avif");
  font-family: 'Helvetica Neue';
  color: white;
  text-align: center;
}


.container{
  background-color: rgba(0, 0, 0, 0.5);
  /*border: 3px solid grey;*/
  border-radius: 15px;
  width: 600px;
  height: 250px;
  margin: 0 auto;
  margin-top: 200px;
}