body {
  background-color: white;
  background-image: url("foreign_currency.avif");
  font-family: 'Helvetica Neue';
  color: black;
  text-align: center;
  display: flex;
}


.container{
  border: 3px solid grey;
  border-radius: 15px;
  width: 600px;
  height: 250px;
  margin: auto;
}